
{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Quotes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
<div class="container"></div>
  <header>
    <h1>Quote of the Day</h1>
    <nav>
      <a href="./">Home</a> |
      <a href="quote">Random Quote</a> |
      <a href="show_all">Show All</a> |
      <a href="about">About</a>
    </nav>
    <hr />
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</div>
</body>

</html>
