

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mini Insta</title>
  </head>

  <body>
    <div class="container">
    <h1>Mini Insta</h1>

    <nav>
      {% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }} |
        <a href="{% url 'show_my_profile' %}">My Profile</a> |
        <a href="{% url 'show_feed' %}">Home</a> |
        <a href="{% url 'search' %}">Search</a> |
        <a href="{% url 'create_post' %}">Create Post</a> |
        <a href="{% url 'show_all_profiles' %}">All Profiles</a> |

        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% else %}
          Not logged in |
          <a href="{% url 'show_all_profiles' %}">All Profiles</a> |
          <a href="{% url 'login' %}">Login</a> |
          <a href="{% url 'create_profile' %}">Create Profile</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}
    </div>
  </body>
</html>
