
<!-- about.html -->

{% extends 'example/base.html' %}

        {% block content %}

        <h1>About this page</h1>

        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas eaque dolores. Cum perferendis modi voluptatum, laborum quas nesciunt quam fugiat eligendi quae repudiandae, velit facere perspiciatis esse maxime illo?
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam animi ullam beatae facilis atque sequi aliquam laudantium aut molestias illum sint consequatur, pariatur quo officia explicabo exercitationem similique fuga quae!
        </p>

        {% endblock %}

